{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src={{item.image.url}} alt="Product Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">{{ item.name }}</h2>
            <p class="lead">{{ item.description }}</p>
            <h3 class="mb-3">{{ item.price }}{{ item.get_currency_sign }}</h3>
                <label for="currency">Выберите Валюту:</label>
                <select id="currency" name="currency" class="form-control mb-2">
                    <option value="USD">Доллар</option>
                    <option value="EUR">Евро</option>
                    <option value="JPY">Йен</option>
                    <option value="TRY">Лиры</option>
                </select>
                <button class="btn btn-primary" onclick="ToCheckout()">Купить</button>
                <a href = "{% url 'add_to_order' item.id %}"><button class="btn btn-secondary" >Добавить в корзину</button></a>
            </div>
    </div>
</div>
<script>
    var product_id = {{item.id}};
    function ToCheckout(){
        var cur = document.getElementById("currency");
        var currency = cur.value;
        fetch(`/api/v1/buy/${product_id}/${currency}`)
            .then(response => response.json())
            .then(data => {
                return stripe.redirectToCheckout({ sessionId: data.session_id});
            })
    };
</script>
{% endblock %}